[Unit]
Description=Service for lrAPI
After=mssql-server.service

[Service]
Type=simple
WorkingDirectory=/usr/local/share/lrapi/
ExecStart=/usr/bin/node dist/main.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
